.tableau {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.cols {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgb(179, 189, 182);

  max-height: 70px;
  min-height: 70px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.col1 {
  /*display: flex;*/
  /*border-style: outset;*/
  height: auto !important;
  width: 100px;
  text-align: center;
}

.col1>img {
  max-width: 100%;
  max-height: 100%;
  padding: 5px;
  height: auto;
}

.col2 {
  /*border-style: outset;*/

  /*background-color: aqua;*/
  display: inline-block;
  text-wrap: wrap;
  width: 60%;
}

.col2>span {
  border-radius: 5px;
  padding: 20px 60px;
  font-size: small;

}

.col3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /*background-color: blueviolet;*/
}

.col3.qt>span>p {
  color: rgb(57, 148, 5);
}

.col3>button {
  width: 25px;
  height: 25px;
}

.cart-Col-qt {
  width: 25px;

}

.col4 {
  /*border-style: outset;*/

  text-align: center;
  /*background-color: aqua;*/
  /*display: inline-block;*/
  width: 75px;

  align-content: center;
}

.col4>span {

  font-weight: bold;
  color: rgb(252, 8, 8);

}