.crt-tab {
  display: flex;
  justify-content: space-between ;
 
  /*background-color: rgb(63, 178, 92);*/
  color: black;
  padding: 15px;
 
  gap: 10px;
  
  
}
.crt-lines {
  background-color: #b0f56b2b;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  gap: 5px;
  width: 100%;
  padding: 5px;
 }

.crt-one-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*border: 1px solid black;*/
}

.cart-col {
  font-size: 12px;
  color: black;
  -ms-flex-align: center;
  text-align: center;
}

.cart-Col-img {
  flex: 10%;
  flex-grow: 0;
 
}

.cart-Col-info {
 
  flex: 30%;
  
  align-items: "center";
  vertical-align: middle;

  /*height: 25%;*/

}
cart-Col-qt{
  display:flex ;
  flex-direction: row;
  justify-content: space-between ;
}

/*----------------*/
.cart-action{
  display:flex ;
  flex-direction:column;
  justify-content: space-between;
  
}
.cart-Col-minus {

  border: 0px;
  border-radius: 10px;
  padding: 5px 10px;
  
}
/*
.cart-Col-qt {

 
}*/

.cart-Col-add {

  border: 0px;
  border-radius: 10px;
  padding: 5px 10px;
  flex: 10%;
  flex-grow: 0;

}
/*----------------*/

.cart-Col-unit-price {
  

  border-radius: 10px;
  padding: 5px 10px;
  flex: 5%;
  flex-grow: 0;

}


ul {
  width: 90%;
}

img {
  /*float: left;*/
  width: 150;
  height: auto;
  margin: 0px 15px 0px 0px;
}





cart-btn cart-button-add {

  margin: 15px 0px 0px 0px;
  border: 0px;
  border-radius: 10px;
  padding: 5px 10px;

}



cart-btn cart-button-remove::hover {
  background-color: white;
  cursor: pointer;
}

cart-btn cart-button-add:hover {
  background-color: white;
  cursor: pointer;
}

/******************************** 3*/

.basket-icon {
  color: white;
  position: absolute;
  top: 13px;
  right: 17px;
}

/*&:hover {
  color: rgb(0, 255, 72) !important;
  cursor: pointer;
}*/

.basket_price{
  display: flex;
  flex-direction:row;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
}
.basket_footer{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
}
.basket-btn{
  margin-bottom:20px;
  padding: 10px;
}
