.filter-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-btn{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter-menu {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#toggle-filters {
    margin-top: 20px;
    background-color: #7A9E7E;
    color: white;
}

.filter-menu {
    width:80%;
    padding: 20px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none; /* Menu caché par défaut */
}

.filter-menu h2 {
    margin-top: 0;
}

.filter-category {
    margin-bottom: 20px;
}

.filter-category h3 {
    margin-bottom: 10px;
}

.filter-category label {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
}

#catalog {
    width:80%;
    padding: 20px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    transition: all .5s ease-in;
}

.catalog-item {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #f9f9f9; 
}

.catalog-item:hover{
    transform: scale(1.05);  
}

.add-to-cart {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #f5a00c;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;

}

.add-to-cart:hover {
    background-color: #f5a00c94;

}

.cart {
    width: 250px;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart h2 {
    margin-top: 0;
}

#cart-items {
    list-style-type: none;
    padding-left: 0;
}

#cart-items li {
    margin-bottom: 10px;
}

#clear-filters:hover {
    background-color: #c82333;
}

.product-img {
   width: 300px;
    height: 200px;
}
.product-img img {
    max-width: 100%;
    max-height: 100%;
}

.product-desc{
    width: 270px;
    height: 80px;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    background-color: #e6e6e6;
    overflow: hidden;
    text-align: justify;
    text-overflow: ellipsis;
    font-size: small;
    font-family: 'Lucida Sans';
}

.product-name{
    width: 270px;
    height: 60px;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #28a745;
    color: #e6e6e6;
    padding: 20px 60px;
    font-size: larger;
    font-weight: bold;

}
.product-price{
    width: 270px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-transform: uppercase;
    border-radius: 0 0 5px 5px;
    background-color: #28a745;
    color: #e6e6e6;
    padding: 10px;
    font-size: medium;
}

/*=========================================================== */
/*===========================Modal========================== */
/*=========================================================== */
.modal {
    width: 100%;
    height: 100%;
    display: none;
  }
  
  .modal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .modal_wrapper {
    width: 450px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .img_thumbnail_modal img {
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
  }
  .img_small_modal {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  .img_small_modal img {
    object-fit: cover;
    width: 100px;
  }
  .img_small_modal img.active {
    border: 2px solid var(--Orange);
    opacity: 0.7;
  }
  .close_icon {
    position: absolute;
    top: -20px;
    right: 0;
    cursor: pointer;
  }
  .img_thumbnail_modal .next img,
  .prev img {
    object-fit: cover;
    width: 10px;
  }
  .img_thumbnail_modal .next {
    position: absolute;
    right: -45px;
    top: 40%;
    transform: translate(-50%, -50%);
    background-color: var(--White);
    border-radius: 50%;
    padding: 1rem;
  }
  .img_thumbnail_modal .prev {
    position: absolute;
    left: -15px;
    top: 40%;
    transform: translate(-50%, -50%);
    background-color: var(--White);
    border-radius: 50%;
    padding: 1rem;
  }

  .close_icon {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    right: -150px;
    cursor: pointer;
  }
  
  .producat_content{
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #f9f9f9; 
  }

  .producat_content img{
    width: 200px;
    height: 200px;
  }
  .modalRight{
    display: flex;
    flex-direction: column;
  }

  .total_price {
    color: var(--Darkgrayish);
    font-weight: 600;
  }
  .qty {
    display: flex;
    align-items: center;
    margin-top: 3rem;
  }

  .btns button {
    width: 40px;
    height: 40px;
    background-color: rgb(60, 255, 0);
    font-size: 2rem;
    font-family: inherit;
    cursor: pointer;
  }

  .btns .qty_numbers {
    color: var(--Darkgrayish);
    font-weight: 600;
  }
  .add_cart {
    background-color: orange;
    font-family: inherit;
    color: var(--White);
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    padding: 1rem 6rem;
    border-radius: 5px;
    margin-left: 4rem;
    cursor: pointer;
  }

  .qty{
    display: flex;
    flex-direction: row;
  }