* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #001A23;
}

body {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    transition: all .5s ease-in-out;
}

a:hover {
    opacity: .6;
    transform: scale(1.1);
}

nav {
    display: none;
}

header,
footer {
    height: 80px;
    border: 1px solid gray;
}

header {
    background-color: #e6e6e6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header button {
    border: none;
    background-color: transparent;
    width: 45px;
}

header button img {
    max-width: 100%;
}

footer {
    background-color: #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

main {
    background-color: #ffffff;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    min-height: calc(100vh - 160px);
}

@media (min-width : 800px) {
    header button {
        display: none;
    }

    nav {
        display: flex;
        gap: 20px;
    }
}

@media (max-width : 450px) {

    .card,
    .card-img {
        width: 400px;
    }
}